/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.contador {
    text-align: center;
    background-color: rgb(97, 86, 122);
    font-size: 50px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

.contador div {
    display: inline-block;
    font-size: 100%;
    line-height: 100%;
    height: 40%;
    background-color: rgb(166, 178, 237);
    color: whitesmoke;
    padding: 5%;
    margin: 3px;
    border-radius: 5px;
}

.clock {
    font-size: 20px;
}